<div class="container">

    <div class="row justify-content-md-center">
      <div class="col-md-12 align-self-center">
        <button (click)="onStartConcumer($event)" type="button" [disabled]="buttonConsumerStartedDisabled">{{consumerStarted == true ? "CONSUMER started": "Start CONSUMER"}}</button>
      </div>
    </div>

    <div class="row justify-content-md-center" [style.display]="consumerStarted ? 'block' : 'none'">
      <div class="col-md-12 align-self-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>text</th>
              </tr>
            </thead>
        <tbody>
            <tr *ngFor="let message of messages">
              <td>{{message.id}}</td>
              <td>{{message.text}}</td>
          </tr>
        </tbody>
    </table>

  </div>
</div>
